
<div class="row">

  <div class="col-md-6">


          <h2> Create Support Request </h2>

          <%= form_for @support do |f| %>
        <div class="form-group">
          <%= f.label :name %>
          <%= f.text_field :name, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :email %>
          <%= f.text_field :email, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.radio_button :department, "Marketing" %>
          <%= f.label :Marketing %>
          <%= f.radio_button :department, "Sales" %>
          <%= f.label :Sales %>
          <%= f.radio_button :department, "Technical" %>
          <%= f.label :Technical %>
        </div>
        <div class="form-group">
          <%= f.label :message  %>
          <%= f.text_area :message, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.submit class: "btn btn-success" %>
        </div>
          <% end %>

      </div>


        <div class="col-md-6">

            <h2> Support Requests</h2>

            <table class="table table-striped table-bordered">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Department</th>
                    <th>Message</th>
                    <th>Actions</th>
                    <th></th>
                    <th></th>
                  </tr>
                </thead>

                  <% @supports.each do |supp| %>
                    <tr>
                      <td><%= supp.name %></td>
                      <td><%= link_to supp.email, support_path(supp) %></td>
                      <td><%= supp.department %></td>
                      <td><%= supp.message %></td>
                      <td><%= link_to "Edit", edit_support_path(supp),
                                              {class: "btn btn-info btn-sm"} %></td>
                      <td><%= link_to "Delete", support_path(supp), {method: :delete,
                                                              class: "btn btn-danger btn-sm"} %></td>
                      <td><%= link_to "Done", support_path(supp), {method: :delete,
                                                              class: "btn btn-success btn-sm"} %></td>



                    </td>
                  <% end %>

            </table>

          </div>




</div>
